/***********************************
FONTS 
************************************/

@font-face {
    font-family: "Liberation";
    src: 
        url("../fonts/LiberationSans-Regular-webfont.ttf") format("ttf"),
        url("../fonts/LiberationSans-Bold-webfont.ttf") format("ttf");
}

/***********************************
GENERALITES
************************************/

body {
    margin: 0;
    padding: 0;
    background: url("../images/background.jpg") scroll no-repeat 50%;
    font-family: "Liberation", Garamond, Verdana, Serif;
}

/***********************************
LES DEUX NAVBARS
************************************/

ul {
    list-style-type: none;
  }

nav *{
    text-decoration: none;
    color: black;
    font-size: 1vw;
}

/***********************************
HEADER
************************************/
header{
    padding-top: 5vw;
    padding-bottom: 0.5vw;
}

header p{
    text-align: end;
    font-size: 2vw;
}

h1 span{
    color: rgb(234, 159, 5);
}
/* logo */
.logo{
    width: 20vw;
}

header nav{
    text-align: end;
}


/***********************************
MAIN
************************************/
.main{
    background: rgb(38, 42, 50);
}

.boxer-img{
    padding: 0px;
}

h2{
    font-size: 1vw;
    text-align: center;
}

.article-page{
    background-color: rgb(243, 243, 243);
    padding: 5px;
}

.article{
    background: white;
}

.article *{
    padding: 0%;
}

.reduction{
    color: rgb(234, 159, 5);
    background-color: black;
    font-size: 3vw;
    font-weight: bold;
    width: fit-content;
    border-radius: 10px;
    position:relative;
    left: 80%;
    top: 10%;
}

.vente{
    background: black;
    color: white;
}

.prixInitial{
    font-weight: bold;
    text-decoration: line-through;
}

.prixReduit{
    color: rgb(234, 159, 5);
    font-weight: bold;
}

.prix{
    margin-top: 1vw;
    font-size: 1.5vw ;
    text-align: center;
}

/* 2eme Navbar */

.navbar2{
    background: white;
    border-radius: 10px;
    position: relative;
    top: 25px;
}

.navbar2 li{
    margin-top: 0.5vw;
    text-align: center;
}

.navbar2 .round{
    width: 10px;
    height: 10px;
    background: rgb(212, 212, 212);
    border-radius: 50%;
    padding: 0%;
    margin-top: 1vw;
}


/***********************************
FOOTER
************************************/

footer{
    background-color:rgb(55, 55, 55) ;
    padding-top: 50px!important;
}



footer p{
    color: white;
    text-align: center;
}

.footer-first-part{
    border-bottom: solid 1px rgb(128, 128, 128);
    margin-bottom: 1vw;
}

.footer-first-part img{
    width: 35%;
    height: 35%;
    margin-bottom: 20px;
}

.copyright{
    text-align: center;
}

/***********************************
RESPONSIVE
************************************/

@media screen and (max-width: 576px) {


    /***********************************
    GENERAL
    ************************************/
    nav *,.main h2, .prix p, header h1, header p{
        font-size: 3.5vw;
        
    }

    /***********************************
    HEADER
    ************************************/
    .logo{
        width: 50%;
    }

    h1{
        text-align: center;
    }

    header p{
        order: 1;
        text-align: justify;
    }

    header nav{
        order: 1;
    }

    header nav *{
        text-align: center;
    }

    /***********************************
    MAIN    
    ************************************/
    .reduction{
        font-size: 5vw;
        left: 95%;
        top: 15%;
    }

    .navbar2 .round{
        margin-top: 2vw;
    }

    .twitter{
        position: relative;
        right: 5%;
    }
    
}